* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #1f242d;
    --second--bg-color: #323946;
    --text-color: #fff;
    --main-color: #00FF00;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

html {
    font-size: 80%;
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    background: var(--bg-color);
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    display: flex;
    z-index: 100;
}

.header.sticky {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
    color: var(--text-color);
    font-size: 2.5rem;
    font-weight: 900;
    display: inline-flex;
    align-items: center;
}

.logo .spn {
    display: block;
    margin-left: 1rem;
}

.logo p {
    margin: 0;
    font-size: 15px;
}

.logo img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border: 1px solid var(--main-color);
    vertical-align: middle;
    margin-right: 1rem;
}

.spn:hover {
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-left: 3rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    color: var(--text-color);
    font-size: 3.5rem;
    display: none;
}

.beranda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bra-img img {
    width: 40vw;
    animation: floatImage 3s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

.beranda-content h3 {
    font-size: 3rem;
    font-weight: 700;
}

.beranda-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

.beranda-content h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

.beranda-content p {
    font-size: 1.2rem;
    text-indent: 25px;
}

span {
    color: var(--main-color);
}

.medsos a {
    font-size: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.1rem solid var(--main-color);
    border-radius: 10%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.medsos a:hover {
    background: var(--main-color);
    color: var(--second--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.5rem;
    color: var(--second--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover {
    box-shadow: none;
}

.tentang {
    background: var(--second--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.ttg-img img {
    width: 35vw;
}

.heading {
    margin-top: 2rem;
    font-size: 4.5rem;
    text-align: center;
}

.ttg-content h2 {
    text-align: left;
    line-height: 1.2;
}

.ttg-content h3 {
    font-size: 2.5rem;
}

.ttg-content p {
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
    text-indent: 25px;
}

.struktur h2 {
    margin-bottom: 5rem;
}

.org {
    background: var(--second--bg-color);
}

.org h2 {
    margin-bottom: 2rem;
}

.org-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;
}

.org-container .org-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.org-box img {
    width: 100%;
    transition: 0.5s ease;
}

.org-box:hover img {
    transform: scale(1.1);
}

.org-box .org-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #FC2E20);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.org-box:hover .org-layer {
    transform: translateY(0);
}

.org-layer h4 {
    font-size: 2rem;
}

.org-layer p {
    font-size: 1rem;
}

.org-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: var(--text-color);
    border-radius: 35%;
}

.org-layer a i {
    background: var(--text-color);
    font-size: 1.5rem;
    border-radius: 50%;
}


/* Untuk Foto Slider */
.glr {
    background: var(--second--bg-color);
}

.glr h2 {
    margin-bottom: 2rem;
}

.glr-container {
    background-color: var(--second--bg-color);
    padding: 1rem;
}

.glr-slide {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.imgslide {
    display: none;
}

.imgslide img {
    vertical-align: middle;
    width: 100%;
    height: 400px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    color: rgb(255, 254, 224);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgb(255, 255, 225, 0.8);
    color: rgb(0, 0, 0);
}

.text {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 900;
    padding: 7px 12px;
    position: absolute;
    bottom: 5;
    width: 100%;
    text-align: center;
}

.glr-slide .numberslide {
    color: var(--text-color);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

.glr-container .page {
    text-align: center;
    padding-top: 20px;
}

.page .dot {
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    margin: 1rem 0.1rem;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 50%;
}

.page .active,
.page .dot:hover:hover {
    background-color: #0ef;
}

/* tes utk foto anggota */
.fagt h2 {
    margin-bottom: 1rem;
}

.slider-wrapper {
    position: relative;
    max-width: 70%;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:Hover {
    opacity: 1;
}

.textagt {
    color: #0ef;
    font-size: 20px;
    font-weight: 900;
    padding: 7px 12px;
    position: absolute;
    bottom: 5;
    width: 100%;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second--bg-color);
}

.footer-text p {
    font-size: 1.5rem;
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border-radius: 10rem;
    transition: 0.5s ease;
}

.footer-iconTop a:hover {
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
    font-size: 3rem;
    color: var(--second--bg-color);
}

/* BREAKPOINTS | RESPONSIVE */
/* Screen Laptop */
@media (max-width: 1200px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .services {
        padding-bottom: 7rem;
    }

    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

/* Screen Tablet|Ipad */
@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .beranda-content {
        flex-direction: column;
    }

    .beranda-content h3 {
        font-size: 2.5rem;
    }

    .beranda-content h1 {
        font-size: 5rem;
    }

    .beranda-img img {
        width: 70vw;
        margin-top: 4rem;
    }

    .tentang {
        flex-direction: column-reverse;
    }

    .tentang-img {
        width: 70vw;
        margin-top: 4rem;
    }

    /* .tentang h2 {
        margin-bottom: 3rem;
    } */

    .org h2 {
        margin-bottom: 3rem;
    }

    .org-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Screen Handphone */
@media (max-width: 617px) {
    .org-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input {
        width: 100%;
    }
}

@media (max-width: 365px) {
    .beranda-img {
        width: 90vw;
    }

    .ttg-img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}

/* Reponsive Galeri */
/* @media screen and (max-width:1000px) {
    .grl-slide {
        padding: 8px 50px 12px 50px;
    }

    .next {
        right: 50px;
        border-radius: 3px 0 0 3px;
    }
} */